@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-mont: "Montserrat", sans-serif;
}
.my-code-editor textarea:focus,
.my-code-editor textarea:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
